
body{
    margin: 0;
    padding: 0;
	background-color: #5F9F9F;
}


#container{
    position: relative;
	margin: auto;
    width: 70%;
    height: 1000px;
	background-color: white;
}

#map{
	position: absolute;
	width: 75%;
    height: 650px;
	top: 80px;
	border: 2px solid black;
	right: 1em;
}

#overskrift{
	position: absolute;
	width: 75%;
	height: 80px;
	right: 0em;
}

button {
	color: black;
	font-family: Helvetica, serif;
	padding-right: 100%;
	background-color: white;
	border: 0;
}

button:hover {
    color: #FF00FF;
	cursor: pointer; 
	cursor: hand;
}

#meny{
    position: absolute; 
	width: 20%;
	height: 1000px;
	left: 1em;
}

.but {
	width: 100%;
	height: 30px;
}
.loc {
	width: 100%;
	height: 20px;
}
h1 {
	font-family: GoldenTypeITC,Helvetica, serif;
}
